@mixin flex($dir: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin container {
  width: min(100% - 32px, $container-max);
  margin-inline: auto;
}

@mixin respond-min($w) {
  @media (min-width: $w) {
    @content;
  }
}

@mixin focus-ring($color) {
  &:focus {
    outline: 2px solid $color;
    outline-offset: 4px;
  }
}
