.contact-section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  font-family: sans-serif;
}

.bg-text {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #31694e33;
  margin-bottom: 30px;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* الفورم */
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.contact-form button {
  padding: 10px;
  background: #31694e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #4f8b6d;
}

/* صندوق المعلومات */
.contact-info {
  flex: 1;
  background: #f3f6f8;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 250px;
}

.info-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.info-row span {
  font-size: 30px;
}

/* responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-form, .contact-info {
    width: 100%;
  }
}
