body {
margin: 0;
font-family: Arial, sans-serif;
}

nav a {
text-decoration: none;
color: #333;
}

nav a:hover {
text-decoration: underline;
}
.app {
    position: relative;
  min-height: 100vh;
}

.bg-video{
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}
.page {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

button{
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
.notfound-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9fafb; /* أو gradient */
  text-align: center;
}

.notfound-page img {
  width: 260px;
  max-width: 100%;
  margin-bottom: 20px;
}

