/* about page */

.about-page {
  padding: 80px 20px;
  max-width: 1800px;
  margin: 0 auto;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  min-height: 100vh;
}


/* HERO */
.about-hero {
  position: relative;
  text-align: center;
  margin-top: 20px;
  border-radius: 30px;
  background: linear-gradient(135deg, #a8e6cf 0%, #56ab2f 100%);
  color: #1b1b1b; /* نص داكن للوضوح */
  padding: 80px 20px;

}

.about-hero h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.about-hero p {
  max-width: 600px;
  margin: 20px auto 0;
  font-size: 1.2rem;
  
}

/* IMAGE */
.hero-image {
  width: 100%;
  max-width: 900px;
  margin: 40px auto ;
  display: block;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}


.about-media .icon:hover {
  transform: scale(1.2) translateY(-5px);
}


.btn-about {
  background: linear-gradient(90deg, #56ab2f, #a8e6cf);
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-about:hover {
  background-color: #214d3a;
  transform: translateY(-3px);
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.split img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .split {
    grid-template-columns: 1fr;
  }
}

/* SECTIONS */
.about-section {
  margin: 100px auto;
  text-align: center;
  max-width: 800px;
  background:linear-gradient(135deg, #68db8e, #ffffff);
  border-radius: 25px;
  padding:50px 30px ;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.about-section h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
    color: #1f3d2e;

}

.about-text {
  font-size: 1.15rem;
  color: #555;
  line-height: 1.8;
}

/* APPROACH */
.about-approach {
  margin-top: 35px;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 1.9;
}

.about-approach p {
  margin: 12px 0;
}

/* CLOSING */
.about-closing {
  margin: 120px auto 20px;
  padding:50px 30px ;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f3d2e;
  border-radius: 20px;
  background:linear-gradient(135deg, #68db8e, #f8fff8);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

}

/* ANIMATION */
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-hero h1 {
    font-size: 2.4rem;
  }

  .about-section {
    margin: 70px auto;
    padding: 40px 20px;
  }
}
