/*
 * Globals
 */

/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #000;
  text-shadow: none;
}

/*
 * Base structure
 */

body {
  background: rgb(100, 198, 115);
  background-image: url("../assets/fresh-herb-flatlay.jpg");
  color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Container */
.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 0.25rem solid transparent;
  color: #000;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #fff;
}
