/* فوترررررر*/
.footer {
  background-color: var(--primary);
  color: #fff;
  padding: 3rem 1rem 1rem;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
color:#ecf2ef;
text-align: center;
align-items: center;
padding: 40px 20px;
display: flex;
}


 .footer h4 {
  margin-bottom: 1rem;
}

.footer p {
  line-height: 1.6;
  color: #ccc;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #47b67f;
}

.footer-social .social-icons a {
  margin-right: 1rem;
  color: #ccc;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer-social .social-icons a:hover {
  color: #00ff80;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #fffefe;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #777;
}

.back-to-top {
  position: relative;
  bottom: auto;
 margin: 20px auto 0 auto;
  right: auto;

  background: #2f7d57;
  color: white;
  border: none;
 margin: 20px auto 0 auto;
 padding: 10px 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}


.back-to-top:hover {
  color: #c2e4d5;
  transform: translateY(-3px);
}

/* Responsive for small screens */
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social .social-icons a {
    margin-right: 0.5rem;
  }
}
